/musicapp-backend/HELP.md
/musicapp-backend/.gradle
/musicapp-backend/build/
!/musicapp-backend/gradle/wrapper/gradle-wrapper.jar
!/musicapp-backend/**/src/main/**/build/
!/musicapp-backend/**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/bin/
!/musicapp-backend/**/src/main/**/bin/
!/musicapp-backend/**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

buildapp.bat
/musicapp-db
/musicapp-s3
.DS_Store